<main class="main">
  <div class="inner">
      <div class="greeting">
        <h2>
        <%= "#{current_user.school_name}生徒一覧" %>
        </h2>
      </div>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
</main>
