<main class="main">
  <div class="inner">
    <div class="greeting">
      <h1 class="greeting__link">
        <%= "#{current_user.school_name}月謝管理"%>
      </h1>
      <p>生徒名をクリックすると詳細画面へ移動します。</p>
      <p>詳細画面から月謝計算が可能です。</p>
    </div>
    <div>
      <div>
      </div>
      <div>
      </div>
    </div>
  </div>
</main>
