<main class="main">
  <div class="inner">
    <div class="greeting">
      <h1 class="greeting__link">
        <%= "#{current_user.school_name}月謝管理"%>
      </h1>
      <p>生徒名をクリックすると詳細画面へ移動します。</p>
      <p>詳細画面から月謝計算が可能です。</p>
    </div>
    <div>
      <% @attendance.each do |attendance| %>
        <div class="attendance_list">
          <%= link_to "#{attendance.entry}・・・#{attendance.fee}円", edit_student_attendance_path(@student, attendance.id) %>
        </div>
      <% end %>
      </div>
      <div>
        <%= link_to "出席日追加", new_student_attendance_path %>
      </div>
      <%= link_to "月謝計算", student_attendances_search_path %>
    </div>
  </div>
</main>
